*{
    margin  : 0 ;
    padding : 0 ;
    font-family: sans-serif;
    box-sizing: border-box; 
}
html,body{
    width: 100%;
    height: 100%; 
}

#main{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #F8F8F8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#pointer{   
    position: fixed;
    pointer-events: none;
    width: 15px;
    height: 15px;
    border: 3px solid #000;
    border-radius: 50%;
    background-color: transparent;
    transform: translate(-100%,-50%);
    transition: all ease-out .1s;
    z-index: 9999;
}

#main svg{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 26px 16px;
}

#nav img{
    width: 48px;
    height: 44px;
}

#nav span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1.5px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

#mainheading{   
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 70px;
}

.ttxt{
    overflow: hidden;
}
.ttxt h1{
    transform: translateY(185%);
    text-transform: uppercase;
    font-family: "Vanguard CF";
    font-size: 200px;
    line-height: 190px;
    opacity: 0;
}

#mainheading p{
    font-size: 10px;
    font-family: "Copyright Klim Type Foundry";
    color: rgb(36, 36, 36);
    opacity: 0.5;
}

#section{
    width: 100%;
}

.sections{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 76px;
}

#section .sections:nth-child(2n){
    justify-content: flex-end;
}

.box{
    cursor: pointer;
    width: 700px;
    height: 600px;
    margin-top: 140px;
}

.box .image{
    width: 100%;
    height: 87%;
    background-color: rgb(100, 135, 240);
}

.box .text{
    width: 100%;
    height: 13%;
    font-family: "Gilroy Light";
    padding: 10px 0px;
}

.box .text .h6{
    margin-top: 8px;
    font-weight: 100;
    word-spacing: 3px;
    opacity: 0.5;
    color: #404040;
}

#footer{
    width: 100%;
    height: 100vh;
}

#footer .ftop{
    padding: 100px 90px;
}

#footer .ftop h1{
    display: inline;
    font-size: 100px;
    font-family: "Vanguard CF"; 
    word-spacing: 8px;
}

.ftop span{
    font-size: 100px;
    font-family: "Vanguard CF"; 
    word-spacing: 8px;
    transform: translateY(100%);
}

.ftop .fcircle{
    width: 160px;
    height: 160px;
    background-color: #000;
    border-radius: 50%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.ftop .fcircle h6{
    font-family: "Gilroy";
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

#footer .fbottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 140px;
}

.fbottom a{
    text-decoration: none;
    color: #000;
}

.fbottom h6{
    word-spacing: 3px;
    font-family: "Gilroy Light";
    opacity: 1;
    font-weight: 700;
}

body #svgdiv{
    position: absolute;
    display: inline-block;
    z-index: 100;
    visibility:hidden;
    pointer-events: none;
    
}

body #svg1{
    width: 80px;
    height: auto;
    animation: rotation 6s infinite linear;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

body #svg2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: auto;
}
